.tip-wrap {
z-index: 2000;
}
.tip {
background: #FFEB87;
border-top: 1px solid #FFF9DF;
border-left: 1px solid #FFF9DF;
border-right: 1px solid #DFD5A7;
border-bottom: 1px solid #DFD5A7;
padding: 2px 5px 2px 5px;
font-size: 11px;
color: #555555;
max-width: 200px;
}
.tip-text {
display: none;
}
