.treeMultiselectDialogable .tagsTreeSelect {
display: none;
}
.treeMultiselectDialog .textInfo {
padding-left: 20px;
width: 380px;
margin-bottom: 10px;
}
.treeMultiselectDialog input[type=checkbox] {
vertical-align: bottom;
}
.treeMultiselectDialog .tagsTreeSelect li {
padding: 2px 0px;
}
.treeMultiselectDialog .selectAll {
float: right;
margin-right: 10px;
}
