.textboxlist-autocomplete {
position: absolute;
z-index: 100
}

.textboxlist-autocomplete-placeholder,
.textboxlist-autocomplete-results {
background: #fff;
border: 1px solid #BFBFBF;
border-top: none;
box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
display: none;
-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.textboxlist-autocomplete-placeholder {
padding: 5px 7px;
}

.textboxlist-autocomplete-results {
margin: 0;
padding: 0;
}

.textboxlist-autocomplete-result {
list-style-type: none;
border-bottom: 1px solid #eee;
margin: 0;
padding: 5px;
}
.textboxlist-bits {
min-height: 23px;
}

/*
.textboxlist-autocomplete-placeholder,
.textboxlist-autocomplete-results,
.textboxlist-autocomplete-result {
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}
*/

.textboxlist-autocomplete-result-focus {
border-color: #EFC400;
background-color: #FFEFBF;
}

.textboxlist-autocomplete-highlight {
background: #eef0c4;
font-weight: bold;
}
