.textboxlist {
background: url(/i/img/white/field-bg.png) repeat-x #FFF;
cursor: text;
font: 11px "Lucida Grande", Verdana;
}
.textboxlist-bits {
/*border: 1px inset #999;*/
margin: 0;
overflow: hidden;
padding: 3px 4px 0;
zoom: 1;
*padding-bottom: 3px;
}
.textboxlist-bits {
border: 1px solid #BFBFBF;
border-bottom: 1px solid #DFDFDF;
border-right: 1px solid #DFDFDF;
}
.textboxlist-bits input {
border: 0px;
margin-top: 2px;
padding: 0px;
background: none !important;
}
.textboxlist-bit {
cursor: default;
display: block;
float: left;
list-style-type: none;
margin: 0 5px 3px 0;
padding: 0;
}
.textboxlist-bit-editable {
border: 1px solid #fff;
}
.textboxlist-bit-editable-input {
border: 0;
font: inherit;
height: 14px;
padding: 2px 0;
*padding-bottom: 0;
}
.textboxlist-bit-editable-input:focus {
outline: 0;
}
.textboxlist-bit-box {
background: #dee7f8;
border: 1px solid #cad8f3;
border-radius: 3px;
cursor: default;
line-height: 18px;
padding: 0 5px;
position: relative;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.textboxlist-bit-box-deletable {
padding-right: 15px;
}
.textboxlist-bit-box-deletebutton {
background: url(/i/img/close.gif);
display: block;
font-size: 1px;
height: 7px;
position: absolute;
right: 4px;
top: 6px;
width: 7px;
}
.textboxlist-bit-box-deletebutton:hover {
background-position: 7px;
border: none;
text-decoration: none;
}
.textboxlist-bit-box-hover {
background: #bbcef1;
border: 1px solid #5698D9;
}
.textboxlist-bit-box-focus {
background: #5698D9;
border-color: #5698D9;
color: #fff;
}
.textboxlist-bit-box-focus .textboxlist-bit-box-deletebutton {
background-position: bottom;
}