.clear {
clear: both;
}
.clear2 {
clear: both;
height: 1px;
}
.float-left {
float: left;
}
.float-right {
float: right;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.heightFix {
height: 1px;
}
select {
max-width: 300px;
}
.help {
cursor: help;
}
.pseudoLink {
text-decoration: none;
cursor: pointer;
border-bottom: 1px dotted;
}
.pseudoLink > span {
border-bottom: 1px dotted #009;
}
.pseudoLink:hover > span {
border-bottom: 1px dotted #000;
}
.iconsSet .pseudoLink {
border-bottom: none;
}
.iconsSet .pseudoLink b, .iconsSet .pseudoLink span {
border-bottom: 1px dotted;
}
.data {
display: none;
}
.hidden {
display: none !important;
}
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.gray, .gray a {
color: #AFAFAF;
}
.gray a:hover {
color: #555555;
}
.dgray, .dgray a {
color: #666 !important;
}
.dgray a:hover:not(.nonActive), a.dgray:hover:not(.nonActive) {
color: #000 !important;
}
input {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}