.type_ddMetro .tagsTreeSelect {
display: none;
}
#metro_dialog .textInfo {
padding-left: 20px;
width: 380px;
margin-bottom: 10px;
}
#metro_dialog input[type=checkbox] {
vertical-align: bottom;
}
#metro_dialog .tagsTreeSelect li {
padding: 2px 0px;
}
#metro_dialog .selectAll {
float: right;
margin-right: 10px;
}
